:root {
    --mobile-breakpoint: 767px;
    --main-max-width: 1200px;
    --p: 15px;
    --p-vertical: 8px;

    --header-height: 100px;

    --masonry-item-height: 198px;
    --masonry-right-width: 160px;

    --bg: #C0DBD9;
    --white: #fff;
    --blue: #0D89B0;
    --green: #8AD191;
    --vivid-green: #B3F95A;
    --turquoise: #88B5BF;
    --dark-blue: #0D89B0;
    --light-blue: #A5C7F9;

    --font-size: 53px;
    --footer-height: 100px;

    --r: 5px;
    --button-font: 20px;

    --dialog-size: 400px;
    --dialog-backdrop: 0 0 100px 0 rgba(0 0 0 / .2), 0 0 0 1000px rgba(255 255 255 / .5);

}